{% extends 'base.html' %}

{% block head %}
<title>Simulation Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Simulation Manager</h1>
    <h1>Submit the jobs</h1>
    {% for i in range(simul.numOperacoes) %}
    <form action="/" method="POST" class="form">
        <input type="text" name="nome" id="nome">
        <input type="text" name="duracao" id="duracao">
        <input type="submit" value="Add Job" name="" id="">
    </form>
    {% endfor %}
    <button>
    </button>
</div>
{% endblock %}