{% for simul in simulations %}
    simulation
    {% for jobs in simul %}
        job
        {% for op in jobs %}
            {{ op.duration }}
            
        {% endfor %}
    {% endfor %}
{% endfor %}

<div class="content">
    <form action="#" method="POST" class="form" >
        <input type="text" name="numMaq" id="numMaq">
        <input type="text" name="numOp" id="numOp">
        <input type="text" name="numTrab" id="numTrab">
        <input type="submit" value="Add Simulation" name="" id="">
    </form>
</div>